<li>
    {{burger_name}}
    <button class="change-devoured" data-id="{{id}}" data-isDevoured="{{isDevoured}}">
        {{#if isDevoured}} Eat da Burger! {{else}} Regurgitate{{/if}}
    </button>

    <button class="delete" data-id="{{this.id}}">delete
    </button>
</li>